# === Embedded system specific ===
*.hex
*.bin
*.elf
*.map
*.lst
*.axf
*.dasm
*.lnp
*.crf
*.dep

# === Xilinx Vivado / Vitis / Petalinux ===
*.xpr
*.xsa
*.hwdef
*.hdf
*.bit
*.jou
*.log
.cache/
.hw/
.runs/
.sim/
.sdk/
.ip_user_files/
vivado*
*.tcl

# === STM32CubeIDE ===
*.ioc
*.launch

# === IDEs ===
.vscode/
.idea/
*.sublime-*

# === NDA-protected or local dev ===
/private_api/
/TI_AFE_LIB/
/do_not_commit/
*.docx
*.zip
